<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comvee.cdms.checkresult.mapper.DataSyncTaskMapper">

    <resultMap type="com.comvee.cdms.checkresult.po.DataSyncTaskPO" id="CheckSyncTaskMap">
        <result property="sid" column="sid" jdbcType="VARCHAR"/>
        <result property="memberId" column="member_id" jdbcType="VARCHAR"/>
        <result property="hospitalId" column="hospital_id" jdbcType="VARCHAR"/>
        <result property="doctorId" column="doctor_id" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="taskType" column="task_type" jdbcType="INTEGER"/>
        <result property="insertDt" column="insert_dt" jdbcType="VARCHAR"/>
        <result property="updateDt" column="update_dt" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 基本字段 -->
    <sql id="Base_Column_List">
        sid, member_id, hospital_id, doctor_id, status,task_type, insert_dt, update_dt
    </sql>

    <!--通过实体作为筛选条件查询-->
    <select id="getListByModel" resultMap="CheckSyncTaskMap">
        select
        <include refid="Base_Column_List"/>
        from t_data_sync_task
        <where>
            <if test="sid != null and sid != ''">
                and sid = #{sid}
            </if>
            <if test="memberId != null and memberId != ''">
                and member_id = #{memberId}
            </if>
            <if test="hospitalId != null and hospitalId != ''">
                and hospital_id = #{hospitalId}
            </if>
            <if test="doctorId != null and doctorId != ''">
                and doctor_id = #{doctorId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="taskType != null">
                and task_type = #{taskType}
            </if>
            <if test="insertDt != null and insertDt != ''">
                and insert_dt = #{insertDt}
            </if>
            <if test="updateDt != null and updateDt != ''">
                and update_dt = #{updateDt}
            </if>
        </where>
        order by insert_dt desc
    </select>

    <!--查询单个-->
    <select id="getOneById" resultMap="CheckSyncTaskMap">
        select
        <include refid="Base_Column_List"/>
        from t_data_sync_task
        where sid = #{sid}
    </select>


    <!--新增所有列-->
    <insert id="insert" keyProperty="sid" useGeneratedKeys="true">
        insert into t_data_sync_task(sid, member_id, hospital_id, doctor_id, status, task_type,insert_dt, update_dt)
        values (#{sid}, #{memberId}, #{hospitalId}, #{doctorId}, #{status},#{taskType}, now(), now())
    </insert>


    <!--通过主键修改数据-->
    <update id="update">
        update t_data_sync_task
        <set>
            <if test="memberId != null and memberId != ''">
                member_id = #{memberId},
            </if>
            <if test="hospitalId != null and hospitalId != ''">
                hospital_id = #{hospitalId},
            </if>
            <if test="doctorId != null and doctorId != ''">
                doctor_id = #{doctorId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
               update_dt = now()
        </set>
        where sid = #{sid}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from t_data_sync_task where sid = #{sid}
    </delete>

</mapper>


