<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comvee.cdms.defender.wechat.mapper.BarrierCourseQuesCfgMapper">

    <resultMap type="com.comvee.cdms.defender.wechat.po.BarrierCourseQuesCfgPO" id="TiqBarrierCourseQuesCfgMap">
        <result property="sid" column="sid" jdbcType="VARCHAR"/>
        <result property="courseId" column="course_id" jdbcType="VARCHAR"/>
        <result property="quesId" column="ques_id" jdbcType="VARCHAR"/>
        <result property="isValid" column="is_valid" jdbcType="VARCHAR"/>
        <result property="insertDt" column="insert_dt" jdbcType="VARCHAR"/>
        <result property="modifyDt" column="modify_dt" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="TiqBarrierCourseQuesCfgMap">
        select
          sid, course_id, ques_id, is_valid, insert_dt, modify_dt
        from tiq_barrier_course_ques_cfg
        where sid = #{sid}
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TiqBarrierCourseQuesCfgMap">
        select
        sid, course_id, ques_id, is_valid, insert_dt, modify_dt
        from tiq_barrier_course_ques_cfg
        <where>
            <if test="sid != null and sid != ''">
                and sid = #{sid}
            </if>
            <if test="courseId != null and courseId != ''">
                and course_id = #{courseId}
            </if>
            <if test="quesId != null and quesId != ''">
                and ques_id = #{quesId}
            </if>
            <if test="isValid != null">
                and is_valid = #{isValid}
            </if>
        </where>
    </select>
    <select id="loadLeftCourseQues" resultType="java.lang.String">
        select ques_id from tiq_barrier_course_ques_cfg
        where is_valid = 1
        <if test="courseIdList != null and courseIdList.size() > 0">
            and course_id in
            <foreach collection="courseIdList" item="courseId" open="(" close=")" separator=",">
                #{courseId}
            </foreach>
        </if>
        <if test="quesIdList != null and quesIdList.size() > 0">
            and ques_id not in
            <foreach collection="quesIdList" item="quesId" open="(" close=")" separator=",">
                #{quesId}
            </foreach>
        </if>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="sid" useGeneratedKeys="true">
        insert into tiq_barrier_course_ques_cfg(sid,course_id, ques_id, is_valid, insert_dt, modify_dt)
        values (#{sid},#{courseId}, #{quesId}, 1, now(), now())
    </insert>



    <!--通过主键修改数据-->
    <update id="update">
        update tiq_barrier_course_ques_cfg
        <set>
            <if test="courseId != null and courseId != ''">
                course_id = #{courseId},
            </if>
            <if test="quesId != null and quesId != ''">
                ques_id = #{quesId},
            </if>
            <if test="isValid != null">
                is_valid = #{isValid},
            </if>
            <if test="insertDt != null and insertDt != ''">
                insert_dt = #{insertDt},
            </if>
            <if test="modifyDt != null and modifyDt != ''">
                modify_dt = #{modifyDt},
            </if>
        </set>
        where sid = #{sid}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from tiq_barrier_course_ques_cfg where sid = #{sid}
    </delete>
    <delete id="deleteByQId">
         delete from tiq_barrier_course_ques_cfg where ques_id = #{barrierId}
    </delete>

</mapper>

