<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comvee.cdms.defender.mapper.QuesLableMapper">
    <sql id="QuesLableColumns">
         t.sid As sid ,  t.title As title ,  t.is_valid As isValid ,  DATE_FORMAT(t.modify_dt,'%Y-%m-%d %H:%i:%s') As modifyDt ,  DATE_FORMAT(t.insert_dt,'%Y-%m-%d %H:%i:%s') As insertDt 
    </sql>

	<!--根据id获取题目分组表信息 -->
	<select id="loadQuesLableById" resultType="com.comvee.cdms.defender.model.QuesLableModel">
		SELECT 
			<include refid="QuesLableColumns"/>
		FROM tiq_ques_lable t
		WHERE t.sid = #{sid} 
	</select>
	
	<!-- 获取题目分组分页信息  -->
	<select id="loadQuesLable"  resultType="com.comvee.cdms.defender.model.QuesLableModel">
		SELECT 
			<include refid="QuesLableColumns"/>
		FROM tiq_ques_lable t
		
		
		where is_valid = 1
		<!--
		<where>
	    <if test="sid!=null and sid!='' ">     
        AND t.sid = #{sid}  
        </if>  
	    <if test="title!=null and title!='' ">     
        AND t.title = #{title}  
        </if>  
	    <if test="isValid!=null and isValid!='' ">     
        AND t.is_valid = #{isValid}  
        </if>  
	    <if test="modifyDt!=null and modifyDt!='' ">     
        AND t.modify_dt = #{modifyDt}  
        </if>  
	    <if test="insertDt!=null and insertDt!='' ">     
        AND t.insert_dt = #{insertDt}  
        </if>  
		</where>
		-->
		<!--
		<if test="start != null  and rows != null ">
		limit #{start},#{rows} 
		</if>
		-->
	</select>

    <!-- 统计题目分组记录数 -->
	<select id="countQuesLable"  resultType="java.lang.Long">
		SELECT count( sid )
		FROM tiq_ques_lable t
		where is_valid = 1
		<!--
		<where>
	    <if test="sid!=null and sid!='' ">     
         AND t.sid = #{sid}    
        </if>  
	    <if test="title!=null and title!='' ">     
         AND t.title = #{title}    
        </if>  
	    <if test="isValid!=null and isValid!='' ">     
         AND t.is_valid = #{isValid}    
        </if>  
	    <if test="modifyDt!=null and modifyDt!='' ">     
         AND t.modify_dt = #{modifyDt}    
        </if>  
	    <if test="insertDt!=null and insertDt!='' ">     
         AND t.insert_dt = #{insertDt}    
        </if>  
		</where>
		-->
	</select>	
	
	<!-- 添加题目分组记录 -->
	<insert id="addQuesLable">
		INSERT INTO tiq_ques_lable(
				    sid,
				title,
				is_valid,
				modify_dt,
				insert_dt
		) VALUES (
			         #{sid},
				#{title},
				1,
				now(),
				now()
		)
	</insert>

    <!-- 修改题目分组记录 -->
	<update id="modifyQuesLable">
		UPDATE tiq_ques_lable 
		<trim prefix="SET" suffixOverrides=",">
	        <if test="sid!=null and sid!='' ">    
	        sid = #{sid},
	        </if>
	        <if test="title!=null and title!='' ">    
	        title = #{title},
	        </if>
	        modify_dt = now(),
		</trim>
		WHERE sid = #{sid}
	</update>
	
	<!-- 删除题目分组记录  -->
	<update id="delQuesLable" parameterType="Long">
		UPDATE tiq_ques_lable SET  is_valid = 0 ,modify_dt = now()
		WHERE sid = #{sid} and is_valid = 1
	</update>
	
	

</mapper>