<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comvee.cdms.defender.mapper.QuesRuleMapper">
    <sql id="QuesRuleColumns">
         t.sid As sid ,  t.qid As qid ,  t.tid As tid ,  t.con As con ,  t.rule As rule ,  t.con_html As conHtml ,  t.out_code As outCode ,  t.out_qid As outQid ,  t.is_valid As isValid ,  DATE_FORMAT(t.modify_dt,'%Y-%m-%d %H:%i:%s') As modifyDt ,  DATE_FORMAT(t.insert_dt,'%Y-%m-%d %H:%i:%s') As insertDt 
    </sql>

	<!--根据id获取题目跳转规则表信息 -->
	<select id="loadQuesRuleById" resultType="com.comvee.cdms.defender.model.QuesRuleModel">
		SELECT 
			<include refid="QuesRuleColumns"/>
		FROM tiq_ques_rule t
		WHERE t.sid = #{sid} 
	</select>
	
	<select id="initRuleLoad"  resultType="com.comvee.cdms.defender.model.QuesRuleModel">
		SELECT 
			<include refid="QuesRuleColumns"/>
		,g.group_id as groupId,k.type as interveneType
		FROM tiq_cfg_group_ques g,tiq_ques_rule t ,tiq_cfg_group k
		WHERE t.tid = g.tid and g.group_id = k.sid 
		and g.is_valid = 1 and k.is_valid = 1 and t.is_valid = 1
	</select>
	
	
	<!-- 获取题目跳转规则分页信息  -->
	<select id="loadQuesRule"  resultType="com.comvee.cdms.defender.model.QuesRuleModel">
		SELECT 
			<include refid="QuesRuleColumns"/>,q.keyword,q.`code` 
		FROM tiq_ques_rule t
		left join  tiq_cfg_group_ques g on t.out_qid = g.tid
		left join tiq_cfg_ques q on g.qid = q.qid
		where t.is_valid = 1
		
	    <if test="tid!=null and tid!='' ">     
        AND t.tid = #{tid}  
        </if> 
	    order by t.sid desc 
		<!--
		<where>
	    <if test="sid!=null and sid!='' ">     
        AND t.sid = #{sid}  
        </if>  
	    <if test="qid!=null and qid!='' ">     
        AND t.qid = #{qid}  
        </if>  
	    <if test="tid!=null and tid!='' ">     
        AND t.tid = #{tid}  
        </if>  
	    <if test="con!=null and con!='' ">     
        AND t.con = #{con}  
        </if>  
	    <if test="rule!=null and rule!='' ">     
        AND t.rule = #{rule}  
        </if>  
	    <if test="conHtml!=null and conHtml!='' ">     
        AND t.con_html = #{conHtml}  
        </if>  
	    <if test="outCode!=null and outCode!='' ">     
        AND t.out_code = #{outCode}  
        </if>  
	    <if test="outQid!=null and outQid!='' ">     
        AND t.out_qid = #{outQid}  
        </if>  
	    <if test="isValid!=null and isValid!='' ">     
        AND t.is_valid = #{isValid}  
        </if>  
	    <if test="modifyDt!=null and modifyDt!='' ">     
        AND t.modify_dt = #{modifyDt}  
        </if>  
	    <if test="insertDt!=null and insertDt!='' ">     
        AND t.insert_dt = #{insertDt}  
        </if>  
		</where>
		-->
		<!--
		<if test="start != null  and rows != null ">
		limit #{start},#{rows} 
		</if>
		-->
	</select>

    <!-- 统计题目跳转规则记录数 -->
	<select id="countQuesRule"  resultType="Long">
		SELECT count( sid )
		FROM tiq_ques_rule t
		where is_valid = 1
		<!--
		<where>
	    <if test="sid!=null and sid!='' ">     
         AND t.sid = #{sid}    
        </if>  
	    <if test="qid!=null and qid!='' ">     
         AND t.qid = #{qid}    
        </if>  
	    <if test="tid!=null and tid!='' ">     
         AND t.tid = #{tid}    
        </if>  
	    <if test="con!=null and con!='' ">     
         AND t.con = #{con}    
        </if>  
	    <if test="rule!=null and rule!='' ">     
         AND t.rule = #{rule}    
        </if>  
	    <if test="conHtml!=null and conHtml!='' ">     
         AND t.con_html = #{conHtml}    
        </if>  
	    <if test="outCode!=null and outCode!='' ">     
         AND t.out_code = #{outCode}    
        </if>  
	    <if test="outQid!=null and outQid!='' ">     
         AND t.out_qid = #{outQid}    
        </if>  
	    <if test="isValid!=null and isValid!='' ">     
         AND t.is_valid = #{isValid}    
        </if>  
	    <if test="modifyDt!=null and modifyDt!='' ">     
         AND t.modify_dt = #{modifyDt}    
        </if>  
	    <if test="insertDt!=null and insertDt!='' ">     
         AND t.insert_dt = #{insertDt}    
        </if>  
		</where>
		-->
	</select>	
	
	<!-- 添加题目跳转规则记录 -->
	<insert id="addQuesRule">
		INSERT INTO tiq_ques_rule(
				
				    sid,
				
				qid,
				tid,
				con,
				rule,
				con_html,
				out_code,
				out_qid,
				is_valid,
				modify_dt,
				insert_dt
		) VALUES (
			         #{sid},
				#{qid},
				#{tid},
				#{con},
				#{rule},
				#{conHtml},
				#{outCode},
				#{outQid},
				1,
				now(),
				now()
		)
	</insert>

    <!-- 修改题目跳转规则记录 -->
	<update id="modifyQuesRule">
		UPDATE tiq_ques_rule 
		<trim prefix="SET" suffixOverrides=",">
	        <if test="sid!=null and sid!='' ">    
	        sid = #{sid},
	        </if>
	        <if test="qid!=null and qid!='' ">    
	        qid = #{qid},
	        </if>
	        <if test="tid!=null and tid!='' ">    
	        tid = #{tid},
	        </if>
	        <if test="con!=null and con!='' ">    
	        con = #{con},
	        </if>
	        <if test="rule!=null and rule!='' ">    
	        rule = #{rule},
	        </if>
	        <if test="conHtml!=null and conHtml!='' ">    
	        con_html = #{conHtml},
	        </if>
	        <if test="outCode!=null and outCode!='' ">    
	        out_code = #{outCode},
	        </if>
	        <if test="outQid!=null and outQid!='' ">    
	        out_qid = #{outQid},
	        </if>
	        modify_dt = now(),
		</trim>
		WHERE sid = #{sid}
	</update>
	
	<!-- 删除题目跳转规则记录  -->
	<update id="delQuesRule" parameterType="Long">
		UPDATE tiq_ques_rule t SET  t.modify_dt = now(), t.is_valid = 0
		WHERE sid = #{sid} and is_valid = 1
	</update>
	
	
	<update id="delQuesRuleByTid" parameterType="Long">
		UPDATE tiq_ques_rule t SET t.modify_dt = now(),t.is_valid = 0 
		WHERE  tid = #{tid} and is_valid = 1 
	</update>
	
	

	

</mapper>